body, html {

    font-size: 18px;
    color: #777777;
    margin: 0;
    padding: 0;
    
} 





.font1{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;

}

.font2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}

#header{
    width: 100%;
    height: 100px;
    background: #ffff;
    margin-top: -30px;
    border-bottom: 2px solid #cccccc; 
}

.mainwrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#infobox{
    width: 60%;
    background: #ffff;
    margin-top: 3%;
    border: 1px solid #cccc;
}

#aboutme{
    border-bottom: 3px solid #dddd;
    margin: 0 auto;
    width: 89%;
    height: 100px;
    text-align: left;
    line-height: 100px;
    color: #4aaaa5;
}

#myname{
    position: relative;
    bottom: 122px;
    margin-bottom: -110px;
    height: 100px;
    width: 250px;
    color: #ffff;
    text-align: center;
    line-height: 110px;
    background: #4aaaa5;
}


.navtext{
    height: 20px;
    color: rgba(153, 152, 152, 0.867);

}

#navwrap{
    height: 30px;
    width: 280px;
    position: relative;
    left: 75%;
    top: 43%;
    font-weight: bold;
}

#about{
    float: left;
    border-right: 1px solid #dddd;
    width: 22%;
    margin-right: 10px;
    
}

#contact{ 
    float: left;
    width: 30%;
    margin-left: 8px;
}

#portfolio{
    float: left;
    border-right: 1px solid #dddd;
    width: 28%;
}

#bottomheader{
    width: 100%;
    height: 70px;
    background: #666666;
    margin-top: 104px;
    border-top: 10px solid #4aaaa5; 
    text-align: center;
    line-height: 95px;
    color: rgb(216, 216, 216);
    font-size: 12px;
}

#picturewrapper{
    width: 89%;
    height: 900px;
    margin: 0 auto;
    margin-top: 30px;
}



.box1class{
background: #4aaaa5;
width: 100%;
position: relative;
bottom: 60px;
line-height: 200%;
text-align: center;
color: white;
}

.image1class{
    height: 100%;
    width: 100%;
}

#tech1{
    height: 30%;
    width: 48%;
background: red;
float: left;
}

#tech2{
    height: 30%;
    width: 48%;
    background: red;
    float: left;
    margin-left: 4%;
    }

    #tech3{
        height: 30%;
        width: 48%;
    background: red;
    float: left;
    margin-top: 25px;
    }

    #tech4{
        height: 30%;
        width: 48%;
        background: red;
        float: left;
        margin-left: 4%;
        margin-top: 25px;
        }
 
    #tech5{
        height: 30%;
        width: 48%;
    background: red;
    float: left;
    margin-top: 25px;
    }


    

@media (max-width: 1950px){
    #infobox{
       width: 45%;

   }
}

@media (max-width: 1600px){
     #infobox{
        width: 55%;

    }
 }

 @media (max-width: 1160px){
    #infobox{
       width: 65%;

   }
}

@media (max-width: 980px){
    #navwrap {
         left: 69%;
     }
     #infobox{
        width: 80%;

    }
 }
 
 @media (max-width: 768px){
     #infobox{
         width: 100%;
     }
     #navwrap {
         left: 64%;
     }
     #img{
         width: 70%;
         height: 70%;
     }
  }
 
  @media (max-width: 640px){
  
    #myname{
        position: relative;
        bottom: 163px;
        right: 32px;
        height: 80px;
        width: 112%;
        color: #ffff;
        text-align: center;
        line-height: 80px;
        background: #4aaaa5;
    }
 
     #header{
         width: 100%;
         height: 60px;
         background: #ffff;
         margin-top: 80px;
         border-bottom: 2px solid #cccccc; 
     }

     .box1class{
        line-height: 380%;
        text-align: center;
        position: relative;
        bottom: 100px;
        }
 
 
        #navwrap {
            left: 32%;
            top:30%;
        }
  
    #img{
        width: 100%;
        height: 100%;
    }

    #tech1{
        height:40%;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    #tech2{
        height:40%;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        float: none;
    }

    #tech3{
        height:40%;
        width: 90%;
        margin: 0 auto;
        float: none;
        margin-top: 50px;
    }

    #tech4{
        height:40%;
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        float: none;
    }

    #tech5{
        height:40%;
        width: 90%;
        margin: 0 auto;
        float: none;
        margin-top: 50px;
    }
 
    #infobox{
        height: 2300px;
    }


 }

 
 @media (max-width: 570px){
    #navwrap {
        left: 27%;
        top:30%;
    }
    }
    
    @media (max-width: 490px){
        #navwrap {
            left: 25%;
            top:30%;
        }
        }
    
        @media (max-width: 450px){
            #navwrap {
                left: 23%;
                top:30%;
            }
            }