#tech1{
    height: 22%;
    width: 40%;
    background: red;
    }
    
    #tech1box{
    background: #4aaaa5;
    width: 100%;
    height: 20%;
    position: relative;
    bottom: 50px;
    line-height: 220%;
    text-align: center;
    }
    
    #tech1image{
        height: 100%;
        width: 100%;
    }

    @media (max-width: 640px){
  
         #tech1box{
            line-height: 380%;
            text-align: center;
            }
     
     
         #navwrap {
             left: 33%;
             top:30%;
         }
    
        #tech1{
            height:40%;
            width: 90%;
            margin: 0 auto;
        }
     
     }